@CHARSET "UTF-8";
/* http://colorschemedesigner.com/#3v11T9hGrk.Ba */

body {
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10pt;
}

a {
	text-decoration: none;
	font-size: 10pt;
}

#main {
	margin: auto;
	width: 80%;
	background-color: #FFF;
	position: relative;
	margin-top: 0.5em;
}
#header {
	background-color: #8FAFC4;
	width: 100%;
	margin-bottom: 3pt;
	position: relative;
	margin-bottom: 25pt; /*same as menu height+5*/
}

#header img {
	height: 133px;
	margin-bottom: 10px;
}

#content {
	padding: 0.4em;
}

#contentInner {
	padding: 0em 2em 0em 2em;
	widht: 100%;
}

#footer {
	position: absolute;
	bottom: -2em;
	height: 1.5em;
	width: 100%;
	text-align: center;
	font-size: 8pt;
}

table {	
	margin: 1em 1.7em;
}

table table {
	margin: 0;
}

#menu {
	position: absolute;
	top: 100%;
	font-size: 1.3em;
	height: 20pt;
	background-color: #CADCE7;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#menu ul li {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	float: left;
}

#menu a {
	font-weight: bold;
	color: #4B7A98;
	display: block;
	padding: 0.3em 1em;
}

#menu a:hover {
	background-color: #2C485A;
	color:#CADCE7;
}

.right {
	position: absolute;
	right: 0%;
}
/*
table:not(.login) {
	border-collapse: collapse;
	margin: 1em 1.7em;
}

table:not(.login) th {
	border-top: 2pt solid #3E97D1;
	border-bottom: 1px solid #FFF;
	padding: 0.4em 1em 0.4em 1em;
	background-color: #BBD6E7;
	color: #1B1D31;
	font-weight: normal;
	border-left: none;
	border-right: none;
	margin: 0;
}

table:not(.login) tr:hover td {
	background-color: #CADCE7;
	color: #000;
}

table:not(.login) td {
	padding: 0.2em 1em 0.2em 1em;
	border-botom: 1px solid #FFF;
	border-top: 1px solid rgba(0,0,0,0);
	background-color: #E5F5FF;
	color: #1B1E42;
}*/